Repository potassco/anthem, pull requests merged in 2024-08, with the labels that each got.

#113 Fix a bug in completion that strips the outermost quantification
  src/translating/completion.rs
Labels: P-high, C-bug, L-fol, A-translating

#114 Actually compute private instead of public predicates
  src/verifying/task/external_equivalence.rs
Labels: P-high, C-bug, A-verifying

#116 Split simplifications into multiple functions
  src/convenience/apply/mod.rs
  src/simplifying/fol/ht.rs
Labels: E-medium, C-enhancement, A-simplifying, A-convenience

#129 Refactor and add some simplifications
  src/simplifying/fol/ht.rs
Labels: C-enhancement, C-feature-accepted, A-simplifying

#130 Simplify TPTP formatting for Relations with the same type
  src/formatting/fol/tptp.rs
Labels: E-medium, C-enhancement, A-formatting, L-fol

#137 Fill the README with information
  README.md
Labels: C-doc

#133 Remove the use of --out-dir from the examples
  res/examples/external_equivalence/coloring/README.md
  res/examples/external_equivalence/cover/README.md
  res/examples/external_equivalence/primes/complex/README.md
  res/examples/external_equivalence/primes/simple/README.md
  res/examples/external_equivalence/trivial/first_order/README.md
  res/examples/external_equivalence/trivial/propositional/README.md
  res/examples/strong_equivalence/bounds/README.md
  res/examples/strong_equivalence/choice/README.md
  res/examples/strong_equivalence/successor/README.md
  res/examples/strong_equivalence/transitive/README.md
  res/examples/strong_equivalence/trivial/README.md
Labels: P-low, C-cleanup

#141 Add an option to pass a time limit to vampire
  src/command_line/arguments.rs
  src/command_line/procedures.rs
  src/verifying/prover/vampire.rs
Labels: C-feature-accepted, A-command-line

#146 Zach/tau star bugfix
  src/translating/tau_star.rs
Labels: P-high, C-bug, A-translating
