Repository potassco/anthem, pull requests merged in 2024-02, with the labels that each got.

#69 Fix a clippy complaint
  src/parsing/mod.rs
Labels: P-high, E-easy, C-bug

#66 Editing ASP grammar to permit _ in object constants and predicate sym…
  src/parsing/asp/grammar.pest
  src/parsing/asp/pest.rs
Labels: E-easy, C-feature-requested, A-parsing, L-asp

#68 Adding support for comments to ASP/FOL grammars
  src/parsing/asp/grammar.pest
  src/parsing/asp/pest.rs
  src/parsing/fol/grammar.pest
  src/parsing/fol/pest.rs
Labels: P-low, E-easy, C-feature-requested, A-parsing, L-asp, L-fol
