Repository potassco/anthem, pull requests merged in 2025-04, with the labels that each got.

#212 Implement the regularity checker
  src/analyzing/mod.rs
  src/analyzing/regularity.rs
  src/command_line/arguments.rs
  src/command_line/procedures.rs
Labels: C-feature-accepted, A-command-line, A-analyzing

#219 Simplify theories derived from programs when verifying external equivalence
  src/verifying/task/external_equivalence.rs
Labels: P-high, C-feature-accepted, L-fol, A-verifying, A-simplifying

#222 Zach/docker
  res/manual/src/installation.md
Labels: P-low, C-doc

#235 bugfix for transitive equality + substitute defined variables edge case
  src/simplifying/fol/classic.rs
Labels: P-high, E-easy, C-bug, L-fol, A-simplifying

#237 Fix issue #234
  src/syntax_tree/fol.rs
Labels: P-high, E-hard, C-bug, A-syntax-tree, L-fol
